body, html {
	height: 100%;
	margin: 0;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #77bbff;
	color: #FFF;
	padding: 1% 0;
	font-size: 1.5em;
	border: 0;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 100;
}

.navbar-brand {
	float: left;
	min-height: 55px;
	padding: 0 15px 5px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
	color: #FFF;
	background-color: #77bbff;
}

.navbar-inverse .navbar-nav li a {
	color: #FFF;
}

.landing-wrapper {
	margin-bottom: 1.1%;
	border-radius: 0;
	padding: 1% 0;
	font-size: 1.5em;
	border: 0;
	width: 100%;
	top: 0px;
	min-height: 55px;
	padding: 0 15px 5px
}

.carousel-caption {
	padding-bottom: 10%;
	top: auto;
	text-transform: uppercase;
}

.btn, .btn:hover, .btn:active, .btn:after, .btn:active:after {
	font-size: 18px;
	color: #FFF;
	padding: 12px 22px;
	background-color: #77bbff;
	border: 2px solid #FFF;
	white-space: normal;
}

.container {
	margin: 4% auto;
}

#icon {
	max-width: 300px;
	margin: 10% auto;
}

#picture {
	width: 100%;
	height: 100%;
}

.devoture-img {
	height: 55px;
	width: 200px;
}

.aboutuspadding {
	padding-bottom: 5%;
}

#usingpadding {
	padding-bottom: 5%;
}

footer {
	width: 100%;
	background-color: #77bbff;
	padding: 3%;
	color: white;
}

h4 {
	font-weight: bold;
}

.fa {
	padding: 10px;
	font-size: 40px;
	color: white;
}

.fa:hover,
.fa:active,
.fa:focus {
	text-decoration: none;
	color: #D5D5D5;
}

#footericons {
	font-size: 30px;
}

.overlay {
	background: #e9e9e9;
	display: block;
	height: 50%;
	width: 50%;
	position: absolute;
	top: auto;
	right: auto;
	opacity: 0.5;
}

.modal {
	display: none;
	position: fixed;
	z-index: 150;
	left: 0;
	top: 0;
	width: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, .7);
}

.modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	height: auto;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.maillink,
.maillink:hover,
.maillink:active,
.maillink:focus {
	color: white;
}

hr {
	border-color: black;
	padding-bottom: 4%;
}

#video {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

input, textarea, button { 
	margin-top: 10px;
}

.required-field-block {
	position: relative;   
}

.required-field-block .required-icon {
	display: inline-block;
	vertical-align: middle;
	margin: -0.25em 0.25em 0em;
	background-color: #E8E8E8;
	border-color: #E8E8E8;
	padding: 0.5em 0.8em;
	color: rgba(0, 0, 0, 0.65);
	text-transform: uppercase;
	font-weight: normal;
	border-radius: 0.325em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	transition: background 0.1s linear;
	font-size: 75%;
}
	
.required-field-block .required-icon {
	background-color: transparent;
	position: absolute;
	top: 1em;
	right: 0em;
	z-index: 10;
	margin: 0em;
	width: 30px;
	height: 30px;
	padding: 0em;
	text-align: center;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
	position: absolute;
	content: "";
	right: 1px;
	top: 1px;
	z-index: -1;
	width: 0em;
	height: 0em;
	border-top: 0em solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 0em solid transparent;
	border-right-color: inherit;
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
	color: #B80000;
	font-size: 26px;
	margin: -3px -10px 0 1%;
}

.formh2 {
	padding-bottom: 4%;
}

#form {
	width: 400px; 
	margin: 0 auto;
}

#formpadding {
	padding-bottom: 1%;
	width: 50%;
	margin: auto;
}

#messagepadding {
	width: 50%;
	margin: auto;
}

.btndiv {
	margin-left: 24.9%;
}

@media (max-width: 850px) {
	.fa {
		font-size: 20px;
		padding: 5px;
	}

	#enginepicture {
		margin: auto;
	}
}

@media (max-width: 600px) {
	#icon {
		max-width: 200px;
	}

	h2 {
		font-size: 1.7em;
	}
}

@media (max-width: 768px) {
	.btn, .btn:hover, .btn:active, .btn:after, .btn:active:after {
		font-size: 11px;
		padding: 4px 6px;
	}
}

@media (min-width: 768px) {
	.btn, .btn:hover, .btn:active, .btn:after, .btn:active:after {
		font-size: 12px;
		padding: 6px 12px;
	}
}

@media (min-width: 992px) {
	.btn, .btn:hover, .btn:active, .btn:after, .btn:active:after {
		font-size: 14px;
		padding: 8px 12px;
	}
}

@media (min-width: 1200px) {
	.btn, .btn:hover, .btn:active, .btn:after, .btn:active:after {
		padding: 10px 16px;
		font-size: 18px;
	}
}